@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DecisionTree.Abp.Notification.WebPush.Localization
@using DecisionTree.Abp.Notification.WebPush.Web.Pages.WebPush.WebPushSubscriptions
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DecisionTree.Abp.Notification.WebPush.WebPushSubscriptions;
@using System.Globalization
@inject IHtmlLocalizer<WebPushResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/WebPush/WebPushSubscriptions/EditModal" autocomplete="off">
    <abp-modal id="WebPushSubscriptionEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="WebPushSubscription.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="WebPushSubscription.EndPoint"   />


            <abp-input asp-for="WebPushSubscription.P256dh"   />


            <abp-input asp-for="WebPushSubscription.Auth"   />


            <abp-input asp-for="WebPushSubscription.UserId"   />


            <abp-input asp-for="WebPushSubscription.DeviceName"   />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>