<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/a92688f2-248e-4f0c-929c-6fe0bd202431/v3/index.json" />
  </packageSources>
</configuration>