@page
@using Microsoft.Extensions.Localization
@using DecisionTree.Abp.Notification.WebPush.Localization
@using DecisionTree.Abp.Notification.WebPush.Web.Pages.WebPush
@model DecisionTree.Abp.Notification.WebPush.Web.Pages.WebPush.IndexModel
@inject IStringLocalizer<WebPushResource> L

@{
}
<h1>WebPush</h1>
<p>@L["SamplePageMessage"]</p>
