@page "/WebPush"
@using Microsoft.Extensions.Localization
@using global::DecisionTree.Abp.Notification.WebPush.Localization
@inject IStringLocalizer<WebPushResource> L
@{
}
<h1>WebPush</h1>
<p>@L["SamplePageMessage"]</p>